[Desktop Entry]
Name=PinkVariable - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=pinkvariable --open-url %U
Icon=pinkvariable
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/pinkvariable;
Keywords=pinkvariable;
